
.App {
  text-align: center;
}

.header {
  background-color: white;
  border-color: gray;
  font-family: 'Poppins', sans-serif;

}

.herocontainer {
  background-image: url('https://i.ibb.co/tmFJHgK/homepage-curved-bottom-1.png')
}

.homecarddeck {
  background-color: #90BFFF;
}
